/* Colors */
:root {
  /* background */
  --secondary-background-color: #2196f3;
  --other-background-color: #f5f4fa;

  /* text */
  --primary-text-color: #212121;
  --secondary-text-color: #757575;

  /* other colors */
  --accent-color: #2196f3;
  --accent-color-background: #2f303a;
  --white-color: #ffffff;
  --black-color: #000000;
  --light-gray-color: #eeeeee;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  letter-spacing: 0.03em;
  width: 100%;
  padding: 0;
  margin: auto;
}
.list {
  list-style: none;
  text-decoration: none;
}

.container {
}
/* Header */
.page-header {
  background-color: var(--white-color);
  text-decoration: none;
  display: inline-block;
}
.logo {
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.383;
  text-decoration: none;
}

.logo-part {
  color: var(--black-color);
  font-family: Raleway;
  font-weight: 700;
  line-height: 1.174;
}

.link {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.143;
  text-decoration: none;
  letter-spacing: 0.02em;
}
.link.tel-mail {
  color: var(--secondary-text-color);
}
.link:hover,
.tel-mail:hover,
.link:focus,
.tel-mail:focus {
  color: var(--secondary-background-color);
}
.current {
  color: var(--accent-color);
}
/* section accent */
.container {
  min-width: 1600px;
}
.hero {
  background-color: var(--accent-color-background);
  color: var(--white-color);
  text-decoration: none;
}
.slogan {
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.hero-items {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.142;
  text-transform: uppercase;
}
.hero-details {
  font-size: 14px;
  line-height: 1.143;
}

/* section presentation */
.about {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.167;
  text-align: center;
}
/* section team */
.team {
  background-color: var(--other-background-color);
  text-decoration: none;
}

.our-team {
  color: var(--primary-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.167;
  text-align: center;
}
.team-member {
  background-color: var(--white-color);
  text-decoration: none;
}
.name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.187;
  text-align: center;
}
.job {
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
}

/* Buttons */
.button {
  cursor: pointer;
  text-decoration: none;
  font-family: inherit;
}
.btn-primary {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.187;
  letter-spacing: 0.06em;
  text-align: center;
}
.btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  text-align: center;
  background-color: var(--other-background-color);
  color: var(--primary-text-color);
}

.btn:focus,
.btn:hover {
  background-color: var(--accent-color);
  color: var(--white-color);
}

*/
/* Portfolio */

.projects {
  text-decoration: none;
}

.web {
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
}
.web-example {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.875;
  text-align: left;
}

/* Footer */
.footer {
  background-color: var(--accent-color-background);
  text-decoration: none;
}
.logo-footer {
  font-weight: bold;
  font-family: Raleway;
  font-size: 26px;
  text-decoration: none;
  color: var(--white-color);
}
.address {
  font-family: Roboto;
  color: var(--white-color);
  font-size: 14px;
  line-height: 1.714;
  font-style: normal;
}
.address.tel-mail {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.address.tel-mail:hover {
  cursor: pointer;
}
